asgiref==3.5.0
beautifulsoup4==4.10.0
distlib==0.3.4
Django==4.0.2
django-bootstrap4==21.2
django-environ==0.8.1
filelock==3.6.0
Pillow==9.0.1
platformdirs==2.5.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.13.1
